# app domain trailing with slash. ex: http://example.com/
BASE_URL=

# CodeIgniter
CI_ENV=					# development, testing, production
CI_ENCRYPTION_KEY=		# any string for encryption
CI_MIGRATION=			# false, true
CI_MIGRATION_VERSION=	# false, version number, latest
CI_STORAGE=				# local, cloudinary, google
CI_STORAGE_PATH=		# document root / public path for storage with trailing slash, ex: storage/

# Database
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

# EMAIL SMTP
MAIL_SENDER_NAME=
MAIL_HOST=				# ssl://smtp.zoho.com, ssl://smtp.gmail.com, ssl://smtp.googlemail.com
MAIL_PORT=				# 465
MAIL_USER=
MAIL_PASS=

# Storage
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_STORAGE_CREDENTIAL=	# path of google-service-account.json
